<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>

	<connectionStrings/>
    
	<system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
		<!--
		<authentication mode="Forms">
			<forms	name="FormsAuth" 
					timeout="30" 
					loginUrl="~/Public/Login.aspx" 
					defaultUrl="~/Default.aspx" 
					path="/" 
					protection="All"/>
		</authentication>

		<authorization>
			<deny users="?"/>
		</authorization>
        -->

		<!--
		<membership defaultProvider="DomainMembershipProvider">
			<providers>
				<clear/>
				<add	name="DomainMembershipProvider" 
						type="MembershipExample.Web.Shared.DomainMembershipProvider, MembershipExample.Web.Shared" 
						enablePasswordRetrieval="false" 
						enablePasswordReset="false" 
						requiresUniqueEmail="true" 
						requiresQuestionAndAnswer="false" 
						minRequiredPasswordLength="1" 
						minRequiredNonalphanumericCharacters="0" 
						hashAlgorithmType="SHA1" passwordFormat="Hashed"/>
			</providers>
		</membership>

		<roleManager enabled="true" cacheRolesInCookie="true" cookieName=".DRPRoles" defaultProvider="DomainRoleProvider">
			<providers>
				<add name="DomainRoleProvider" type="MembershipExample.Web.Shared.DomainRoleProvider, MembershipExample.Web.Shared" />
			</providers>
		</roleManager>
		-->

		<httpModules>
			<add type="AndroMDA.NHibernateSupport.HttpSessionManagerModule, AndroMDA.NHibernateSupport" name="HttpSessionManagerModule"/>
		</httpModules>

		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

	</system.web>

	<!--
	<location path="Public">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
    -->

</configuration>
