#set ($elementName = $element.owner.name)
## The complete element name (including package)
#set ($completeElementName = "$element.owner.fullyQualifiedName")
#set ($lowerCaseElementName = $stringUtils.uncapitalize(${elementName}))
    

## Setup the globally used regular expressions 
#set ($digit = "[0-9]")
#set ($letter = "[a-zA-Z]")
#set ($number = "${digit}+")
#set ($normal = "[[${digit}_*]${letter}]")
#set ($name = "${letter}(${normal})*")
#set ($dot = '\s*\.\s*')
#set ($navigableName = "${name}(${name}(${dot}${name})*)")
#set ($emptyParentheses = '\s*\(\s*\)\s*')
#set ($nonEmptyParentheses = '\s*\(.*\)\s*')

#set ($excludeAllInstances = "(?!allInstances)")