andromda.home = ../

model.url = jar:file:${andromda.home}sample/car-rental-system/CarRentalSystem15.zargo!/CarRentalSystem15.xmi

velocity.home = ${andromda.home}
mdr.home = ${andromda.home}
castor.home = ${andromda.home}

castor.libs = ${andromda.home}lib/castor-0.9.4.3.jar
andromda.libs = ${andromda.home}andromda.jar
velocity.libs = ${velocity.home}lib/velocity-dep-1.2.jar
mdr.libs = ${mdr.home}lib/openide-lookup.jar;${mdr.home}lib/openide-fs.jar;${mdr.home}lib/nbmdr.jar;${mdr.home}lib/mdrapi.jar;${mdr.home}lib/jmi.jar;${mdr.home}lib/jmiutils.jar;${mdr.home}lib/jmitoolkit.jar;${mdr.home}lib/mof.jar;${mdr.home}lib/mdr.jar;${mdr.home}lib/uml14.jar

build.classpath = ${mdr.libs}:${andromda.libs}:${velocity.libs}:${castor.libs}
