##
##  This macro determines what to do when processing a transition
##
#macro (processTransition $transition)
#if (!$transition)
null;
#elseif ($transition.enteringFinalState)
#set($targetController = $transition.target.targetControllerFullyQualifiedName)
#set($targetControllerBeanName = $transition.target.targetControllerBeanName)
#if($targetController)(($targetController)${managedBeansPackage}.JsfUtils.resolveVariable("$targetControllerBeanName")).startUseCase()#else closeDialog()#end;
#elseif ($transition.enteringView)
"${transition.target.path}.${facesServletExtension}";
#elseif ($transition.enteringDecisionPoint)
__${transition.operationCall.name}(#if (!$action.formFields.empty)form#end);
#else
${transition.target.actionMethodName}(#if (!$action.formFields.empty)form#end);
#end
#end
##
##   This macro generates code to save any success messages and warning messages
##
#macro (saveMessages $transition $indent)
#set ($messagesFullyQualifiedName = "Messages")
#if ($stringUtils.isNotBlank($managedBeansPackage))
#set($messagesFullyQualifiedName = "${managedBeansPackage}.${messagesFullyQualifiedName}")
#end
#if ($transition.successMessagesPresent)
#foreach ($message in $transition.successMessages.entrySet())
${indent}${managedBeansPackage}.JsfUtils.addInfoMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#if ($transition.warningMessagesPresent)
#foreach ($message in $transition.warningMessages.entrySet())
${indent}${managedBeansPackage}.JsfUtils.addWarningMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#end
##
##   This macro generates code to save any success messages and warning messages in decision transitions
##
#macro (saveDecisionMessages $transition $indent)
#set ($messagesFullyQualifiedName = "Messages")
#if ($stringUtils.isNotBlank($managedBeansPackage))
#set($messagesFullyQualifiedName = "${managedBeansPackage}.${messagesFullyQualifiedName}")
#end
#if ($transition.successMessagesPresent)
#foreach ($message in $transition.successMessages.entrySet())
${indent}${managedBeansPackage}.JsfUtils.addInfoMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#if ($transition.warningMessagesPresent)
#foreach ($message in $transition.warningMessages.entrySet())
${indent}${managedBeansPackage}.JsfUtils.addWarningMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#end