##
##  This macro determines what to do when processing a transition
##
#macro (processTransition $transition)
#if (!$transition)
null; 1111
#elseif ($transition.enteringFinalState)
#set($targetController = $transition.target.targetControllerFullyQualifiedName)
#set($targetControllerBeanName = $transition.target.targetControllerBeanName)
#if($targetController)
#set($tmp = $controllers.add($transition.target.targetElement.controller))
#if($targetControllerBeanName.equals($controller.beanName))
#set($targetControllerBeanName = "this")
"${controller.path}.${facesServletExtension}";
#else
#if(${transition.target.targetElement})
"${transition.target.targetElement.path}.${facesServletExtension}";
#else
"";
#end
#end
#else 
closeDialog();
#end
#elseif ($transition.enteringView)
"${transition.target.path}.${facesServletExtension}";
#elseif ($transition.enteringDecisionPoint)
__${transition.operationCall.name}(#if (!$action.formFields.empty)form#end);
#else
${transition.target.actionMethodName}(#if (!$action.formFields.empty)form#end);
#end
#end
##
##   This macro generates code to save any success messages and warning messages
##
#macro (saveMessages $transition $indent)
#set ($messagesFullyQualifiedName = "Messages")
#if ($stringUtils.isNotBlank($managedBeansPackage))
#set($messagesFullyQualifiedName = "${managedBeansPackage}.${messagesFullyQualifiedName}")
#end
#if ($transition.successMessagesPresent)
#foreach ($message in $transition.successMessages.entrySet())
${indent}${managedBeansPackage}.JakartaUtils.addInfoMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#if ($transition.warningMessagesPresent)
#foreach ($message in $transition.warningMessages.entrySet())
${indent}${managedBeansPackage}.JakartaUtils.addWarningMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#end
##
##   This macro generates code to save any success messages and warning messages in decision transitions
##
#macro (saveDecisionMessages $transition $indent)
#set ($messagesFullyQualifiedName = "Messages")
#if ($stringUtils.isNotBlank($managedBeansPackage))
#set($messagesFullyQualifiedName = "${managedBeansPackage}.${messagesFullyQualifiedName}")
#end
#if ($transition.successMessagesPresent)
#foreach ($message in $transition.successMessages.entrySet())
${indent}${managedBeansPackage}.JakartaUtils.addInfoMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#if ($transition.warningMessagesPresent)
#foreach ($message in $transition.warningMessages.entrySet())
${indent}${managedBeansPackage}.JakartaUtils.addWarningMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#end