        <parameter name="beanJndiName" value="${ejbJndiName}"/>
        <parameter name="homeInterfaceName" value="${ejbHomeInterfaceName}"/>
        <parameter name="remoteInterfaceName" value="${ejbRemoteInterfaceName}"/>
#if ($ejbJndiUrl.length() != 0)
        <parameter name="jndiURL" value="${ejbJndiUrl}"/>
#end
        <parameter name="jndiContextClass" value="${ejbNamingContextFactory}"/>
