#
# replace the @-delimited strings with the concrete directory names
# which are valid for your machine.
#
# The "empty project wizard" (wizard.xml) does this automatically.
#
andromda.home = @ANDROMDA_HOME@
jboss.home = @JBOSS_HOME@
model = jar:file:${basedir}/src/uml/blank-model.zargo!/blank-model.xmi

