<?xml version="1.0" encoding="UTF-8"?>

<project>
  	<id>${projectId}</id>
  	<name>The ${projectName}</name>
  	<currentVersion>1.0-SNAPSHOT</currentVersion>
  	<shortDescription>The ${projectName}</shortDescription>
  	<description>
  		Contains the ${projectName} Project.
  	</description>
  	<package>${projectPackage}</package>
  	<developers>
    	<developer>
      		<name>${projectCreator}</name>
      		<id></id>
      		<email></email>
    	</developer>
  	</developers>
</project>
