andromda.home = ./

thirdparty.home = c:/ntdev/thirdparty/

myant.home = ${thirdparty.home}jakarta-ant-1.5.1/
velocity.home = ${andromda.home}
log4j.home = ${andromda.home}
junit.home = ${andromda.home}
mdr.home = ${andromda.home}
commons.home=${andromda.home}

commons.libs = ${commons.home}lib/commons-digester.jar:${commons.home}lib/commons-beanutils.jar:${commons.home}lib/commons-collections.jar:${commons.home}lib/commons-logging.jar
log4j.libs = ${log4j.home}lib/log4j.jar
velocity.libs = ${velocity.home}lib/velocity-dep-1.2.jar
junit.libs = ${junit.home}lib/junit.jar
ant.libs = ${myant.home}lib/ant.jar:${myant.home}lib/optional.jar:${myant.home}lib/xercesImpl.jar
mdr.libs = ${mdr.home}lib/openide-lookup.jar:${mdr.home}lib/openide-fs.jar:${mdr.home}lib/nbmdr.jar:${mdr.home}lib/mdrapi.jar:${mdr.home}lib/jmi.jar:${mdr.home}lib/jmiutils.jar:${mdr.home}lib/jmitoolkit.jar:${mdr.home}lib/mof.jar:${mdr.home}lib/uml14.jar

build.classpath = ${commons.libs}:${ant.libs}:${velocity.libs}:${log4j.libs}:${junit.libs}:${mdr.libs}
