#Toolbar Group
diagram.toolbar.group.spring.id = "spring"

#provide diagram.toolbar.group.spring.icon
diagram.toolbar.group.spring.order = 600
diagram.toolbar.group.spring.tooltip = "AndroMDA Spring Profile"
diagram.toolbar.group.spring.name = "AndroMDA Spring Profile"

#Menu Group
menu.item.group.spring.order = 600

#
# Entity
# -----------------------------------------------------------------------------------
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Entity =
\    class = createNode("Class");
\    class->setProperty("stereotype","Entity");
\    rename(class)
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Entity.icon = "DiagramElementsToolbar/Entity.gif"
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Entity.tooltip = "Spring Entity"
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Entity.order = 610
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Entity.condition = hasOption("profilesettings.profile.spring.enabled")
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Entity.group = "spring"

menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Entity =
\    class = createNode("Class");
\    class->setProperty("stereotype","Entity");
\    rename(class)
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Entity.icon = "DiagramElementsToolbar/Entity.gif"
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Entity.name = "AndroMDA Spring Entity"
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Entity.tooltip = "Spring Entity"
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Entity.order = 600
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Entity.condition = hasOption("profilesettings.profile.spring.enabled")
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Entity.group = "spring"

#
# Service
# -----------------------------------------------------------------------------------
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Service =
\    class = createNode("Class");
\    class->setProperty("stereotype","Service");
\    rename(class)
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Service.icon = "DiagramElementsToolbar/Control.gif"
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Service.tooltip = "Spring Service"
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Service.order = 610
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Service.condition = hasOption("profilesettings.profile.spring.enabled")
diagram.toolbar.button.ClassDiagram20.AndroMDA Spring Service.group = "spring"

menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Service =
\    class = createNode("Class");
\    class->setProperty("stereotype","Service");
\    rename(class)
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Service.icon = "DiagramElementsToolbar/Control.gif"
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Service.name = "AndroMDA Spring Service"
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Service.tooltip = "Spring Service"
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Service.order = 600
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Service.condition = hasOption("profilesettings.profile.spring.enabled")
menu.item.element.ClassDiagram20.New.item.AndroMDA Spring Service.group = "spring"

#
# Value Object
# -----------------------------------------------------------------------------------
diagram.toolbar.button.ClassDiagram20.AndroMDA Value Object =
\    class = createNode("Class");
\    class->setProperty("stereotype","ValueObject");
\    rename(class)
diagram.toolbar.button.ClassDiagram20.AndroMDA Value Object.icon = "DiagramElementsToolbar/CustomClass.gif"
diagram.toolbar.button.ClassDiagram20.AndroMDA Value Object.tooltip = "Value Object (DTO)"
diagram.toolbar.button.ClassDiagram20.AndroMDA Value Object.order = 610
diagram.toolbar.button.ClassDiagram20.AndroMDA Value Object.condition = hasOption("profilesettings.profile.spring.enabled")
diagram.toolbar.button.ClassDiagram20.AndroMDA Value Object.group = "spring"

menu.item.element.ClassDiagram20.New.item.AndroMDA Value Object =
\    class = createNode("Class");
\    class->setProperty("stereotype","ValueObject");
\    rename(class)
menu.item.element.ClassDiagram20.New.item.AndroMDA Value Object.icon = "DiagramElementsToolbar/CustomClass.gif"
menu.item.element.ClassDiagram20.New.item.AndroMDA Value Object.name = "AndroMDA Value Object"
menu.item.element.ClassDiagram20.New.item.AndroMDA Value Object.tooltip = "Value Object (DTO)"
menu.item.element.ClassDiagram20.New.item.AndroMDA Value Object.order = 600
menu.item.element.ClassDiagram20.New.item.AndroMDA Value Object.condition = hasOption("profilesettings.profile.spring.enabled")
menu.item.element.ClassDiagram20.New.item.AndroMDA Value Object.group = "spring"

#
# Criteria Search
# -----------------------------------------------------------------------------------
diagram.toolbar.button.ClassDiagram20.AndroMDA Criteria Search =
\    class = createNode("Class");
\    class->setProperty("stereotype","Criteria");
\    rename(class)
diagram.toolbar.button.ClassDiagram20.AndroMDA Criteria Search.icon = "DiagramElementsToolbar/CustomClass.gif"
diagram.toolbar.button.ClassDiagram20.AndroMDA Criteria Search.tooltip = "Criteria Search"
diagram.toolbar.button.ClassDiagram20.AndroMDA Criteria Search.order = 610
diagram.toolbar.button.ClassDiagram20.AndroMDA Criteria Search.condition = hasOption("profilesettings.profile.spring.enabled")
diagram.toolbar.button.ClassDiagram20.AndroMDA Criteria Search.group = "spring"

menu.item.element.ClassDiagram20.New.item.AndroMDA Criteria Search =
\    class = createNode("Class");
\    class->setProperty("stereotype","Criteria");
\    rename(class)
menu.item.element.ClassDiagram20.New.item.AndroMDA Criteria Search.icon = "DiagramElementsToolbar/CustomClass.gif"
menu.item.element.ClassDiagram20.New.item.AndroMDA Criteria Search.name = "AndroMDA Criteria Search"
menu.item.element.ClassDiagram20.New.item.AndroMDA Criteria Search.tooltip = "Criteria Search"
menu.item.element.ClassDiagram20.New.item.AndroMDA Criteria Search.order = 600
menu.item.element.ClassDiagram20.New.item.AndroMDA Criteria Search.condition = hasOption("profilesettings.profile.spring.enabled")
menu.item.element.ClassDiagram20.New.item.AndroMDA Criteria Search.group = "spring"

#
# Interface
# -----------------------------------------------------------------------------------
diagram.toolbar.button.ClassDiagram20.AndroMDA Interface =
\    class = createNode("Class[defaultName=Interface]");
\    class->setProperty("$interface",true);
\    rename(class)
diagram.toolbar.button.ClassDiagram20.AndroMDA Interface.icon = "DiagramElementsToolbar/ComponentInterface.gif"
diagram.toolbar.button.ClassDiagram20.AndroMDA Interface.tooltip = "Interface"
diagram.toolbar.button.ClassDiagram20.AndroMDA Interface.order = 610
diagram.toolbar.button.ClassDiagram20.AndroMDA Interface.condition = hasOption("profilesettings.profile.spring.enabled")
diagram.toolbar.button.ClassDiagram20.AndroMDA Interface.group = "spring"

menu.item.element.ClassDiagram20.New.item.AndroMDA Interface =
\    class = createNode("Class[defaultName=Interface]");
\    class->setProperty("$interface",true);
\    rename(class)
menu.item.element.ClassDiagram20.New.item.AndroMDA Interface.icon = "DiagramElementsToolbar/ComponentInterface.gif"
menu.item.element.ClassDiagram20.New.item.AndroMDA Interface.name = "Interface"
menu.item.element.ClassDiagram20.New.item.AndroMDA Interface.tooltip = "Criteria Search"
menu.item.element.ClassDiagram20.New.item.AndroMDA Interface.order = 600
menu.item.element.ClassDiagram20.New.item.AndroMDA Interface.condition = hasOption("profilesettings.profile.spring.enabled")
menu.item.element.ClassDiagram20.New.item.AndroMDA Interface.group = "spring"

#
# EntityRef
# -----------------------------------------------------------------------------------
diagram.toolbar.button.ClassDiagram20.AndroMDA EntityRef =
\    link = createLink("AssociatesLink");
\    link->setProperty("clientVisibility","$clientPublic");
\    link->setProperty("directed", true);
\    link->setProperty("clientNavigability","$clientNavigableExplicitly")
diagram.toolbar.button.ClassDiagram20.AndroMDA EntityRef.icon = "DiagramElementsToolbar/AssociationLink.gif"
diagram.toolbar.button.ClassDiagram20.AndroMDA EntityRef.tooltip = "Entity Reference"
diagram.toolbar.button.ClassDiagram20.AndroMDA EntityRef.order = 620
diagram.toolbar.button.ClassDiagram20.AndroMDA EntityRef.condition = hasOption("profilesettings.profile.spring.enabled")
diagram.toolbar.button.ClassDiagram20.AndroMDA EntityRef.group = "spring"

#
# ServiceRef
# -----------------------------------------------------------------------------------
diagram.toolbar.button.ClassDiagram20.AndroMDA ServiceRef =
\    link = createLink("Dependency20")
diagram.toolbar.button.ClassDiagram20.AndroMDA ServiceRef.icon = "DiagramElementsToolbar/DependencyLink.gif"
diagram.toolbar.button.ClassDiagram20.AndroMDA ServiceRef.tooltip = "Service Reference"
diagram.toolbar.button.ClassDiagram20.AndroMDA ServiceRef.order = 630
diagram.toolbar.button.ClassDiagram20.AndroMDA ServiceRef.condition = hasOption("profilesettings.profile.spring.enabled")
diagram.toolbar.button.ClassDiagram20.AndroMDA ServiceRef.group = "spring"

#
# ValueObjectRef
# -----------------------------------------------------------------------------------
diagram.toolbar.button.ClassDiagram20.AndroMDA ValueObjectRef =
\    link = createLink("Dependency20")
diagram.toolbar.button.ClassDiagram20.AndroMDA ValueObjectRef.icon = "DiagramElementsToolbar/DependencyLink.gif"
diagram.toolbar.button.ClassDiagram20.AndroMDA ValueObjectRef.tooltip = "Value Object Reference"
diagram.toolbar.button.ClassDiagram20.AndroMDA ValueObjectRef.order = 630
diagram.toolbar.button.ClassDiagram20.AndroMDA ValueObjectRef.condition = hasOption("profilesettings.profile.spring.enabled")
diagram.toolbar.button.ClassDiagram20.AndroMDA ValueObjectRef.group = "spring"


#
# Finder Method
# -----------------------------------------------------------------------------------
menu.item.element.Class20.New.item.FinderMethod =
\   member=createNode("Operation[defaultName=findBy]");
\   member->setProperty("stereotype", "FinderMethod")
menu.item.element.Class20.New.item.FinderMethod.icon = "DiagramElementsToolbar/Operation.gif"
menu.item.element.Class20.New.item.FinderMethod.name = "Finder Method"
menu.item.element.Class20.New.item.FinderMethod.condition = hasPropertyValue("stereotype", "Entity")
menu.item.element.Class20.New.item.FinderMethod.order = 10