view.map.*.Class|Class20.hasPropertyValue("stereotype","Entity").priority:20 =
\ if ( isTopLevel() && hasCachedOption("profilesettings.profile.spring.enabled"),
\       setBackground(RGB(180,230,180))
\    )

view.map.*.Class|Class20.hasPropertyValue("stereotype","Service").priority:20 =
\ if ( isTopLevel() && hasCachedOption("profilesettings.profile.spring.enabled"),
\       setBackground(RGB(153,204,255))
\    )

view.map.*.Class|Class20.hasPropertyValue("stereotype","ValueObject").priority:20 =
\ if ( isTopLevel() && hasCachedOption("profilesettings.profile.spring.enabled"),
\       setBackground(RGB(255,102,102))
\    )

view.map.*.Class|Class20.hasPropertyValue("stereotype","Criteria").priority:20 =
\ if ( isTopLevel() && hasCachedOption("profilesettings.profile.spring.enabled"),
\       setBackground(RGB(255,255,153))
\    )