.idea
samples/target/*
.classpath
.project
**/target
**/*.log
**/.settings
**/target
**/.vscode
**/*.iml

*.log
**/.classpath
**/.factorypath
**/.settings/
**/.vscode/
**/target/
**/.vscode/
**/target/
**/*.ref
**/*.bak
**/*.log
**/*.exc
**/*UML_Standard_Profile*
.vscode/
.env
