.idea
samples/target/*
.classpath
.project
/maven/maven-config/target/
/andromda-core/target/
/andromda-utils/target/
/metafacades/target/
/translation-libraries/ocl/andromda-validation/target/
/translation-libraries/ocl/andromda-query/target/
/target/
/metafacades/uml/uml14/target/
/andromda-andromdapp/target/
/cartridges/target/
/cartridges/andromda-meta/target/
/andromda-etc/target/
/cartridges/andromda-bpm4struts/target/
/cartridges/andromda-ejb/target/
/cartridges/andromda-ejb3/target/
/cartridges/andromda-jbpm/target/
/cartridges/andromda-jsf/components/target/
/cartridges/andromda-jsf/target/
/cartridges/andromda-xmlschema/target/
/cartridges/manageable-entities/target/
/cartridges/andromda-jsf2/target/
/andromda-templateengines/target/
/repositories/target/
/translation-libraries/target/
/maven/target/
/metafacades/uml/target/
/metafacades/uml/common/target/
/andromda-andromdapp/projects/target/
/andromda-andromdapp/projects/j2ee/maven2/target/
/profiles/emf/uml22/xml/target/
/profiles/emf/uml22/presentation/target/
/profiles/emf/uml22/persistence/target/
/profiles/emf/uml22/messaging/target/
/profiles/emf/uml22/datatype/target/
/profiles/emf/uml22/service/target/
/profiles/emf/uml22/common/target/
/profiles/emf/uml22/process/target/
/profiles/emf/uml22/meta/target/
/profiles/emf/uml22/webservice/target/
/cartridges/andromda-java/target/
/cartridges/andromda-hibernate/target/
/cartridges/andromda-spring/target/
/cartridges/andromda-webservice/target/
/translation-libraries/ocl/target/
/translation-libraries/ocl/core/target/
/metafacades/uml/emf/uml22/target/
/cartridges/andromda-angular/target/
/cartridges/support/webservice-client/target/
/andromda-andromdapp/projects/richclient/ant/target/
/andromda-andromdapp/projects/csharp/maven2/target/
/andromda-andromdapp/andromda-andromdapp-core/target/
/cartridges/andromda-springws/target/
/profiles/emf/uml22/UML_Standard_Profile/target/
/andromda-etc/andromda-taglibs/andromda-breadcrumbs-taglib/target/
/andromda-etc/andromda-taglibs/andromda-formatting-taglib/target/
/andromda-etc/andromda-taglibs/andromda-collections-taglib/target/
/andromda-etc/andromda-taglibs/target/
**/target
**/*.log
**/.settings
maven/model-archiver/.factorypath
