samples/target/*
.classpath
.project
/maven/maven-config/target/
/andromda-core/target/
/andromda-utils/target/
/metafacades/target/
/translation-libraries/ocl/andromda-validation/target/
/translation-libraries/ocl/andromda-query/target/