##
##  This macro determines what to do when processing a transition
##
#macro (processTransition $transition)
#if (!$transition)
null;
#elseif ($transition.enteringFinalState)
#set($targetController = $transition.target.targetElement.controller)
#set($targetControllerBeanName = $transition.target.targetControllerBeanName)
##if($targetControlle.name)(<$targetController.name>JSON.parse(localStorage.getItem('$targetControllerBeanName'))).startUseCase()#else this.closeDialog()#end;
#if($targetController.name)
#if(${targetController.name} != $controller.name)
this.${stringUtils.uncapitalize(${targetController.name})}.startUseCase()
#else
this.startUseCase();
#end
#else 
this.closeDialog();
#end
#elseif ($transition.enteringView)
#set ($pt = $angularUtils.getComponentFileName(${transition.target.name}))
#set ( $cls = $angularUtils.getComponentName($pt, "-") )
'$stringUtils.lowerCase($cls)';
#elseif ($transition.enteringDecisionPoint)
this.__${transition.operationCall.name}(form);
#else
#if($action.exitingInitialState)  
this.${transition.target.actionMethodName}#if (!$transition.formFields.empty)${action.formImplementationName}#end(
#if(!$action.formFields.empty)
    {
#foreach($field in $action.formFields)
        $field.name: useCaseParameters.$field.name, 
#end    
    }
#end
);
#else
this.${transition.target.actionMethodName}#if (!$transition.formFields.empty)${action.formImplementationName}#end(form);
#end
#end
#end
##
##   This macro generates code to save any success messages and warning messages
##
#macro (saveMessages $transition $indent)
#set ($messagesFullyQualifiedName = "Messages")
#if ($stringUtils.isNotBlank($managedBeansPackage))
#set($messagesFullyQualifiedName = "${managedBeansPackage}.${messagesFullyQualifiedName}")
#end
#if ($transition.successMessagesPresent)
#foreach ($message in $transition.successMessages.entrySet())
//${indent}${managedBeansPackage}.angularUtils.addInfoMessage(${messagesFullyQualifiedName}.get('$message.key', (Object[])null));
#end
#end
#if ($transition.warningMessagesPresent)
#foreach ($message in $transition.warningMessages.entrySet())
//${indent}${managedBeansPackage}.angularUtils.addWarningMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#end
##
##   This macro generates code to save any success messages and warning messages in decision transitions
##
#macro (saveDecisionMessages $transition $indent)
#set ($messagesFullyQualifiedName = "Messages")
#if ($stringUtils.isNotBlank($managedBeansPackage))
#set($messagesFullyQualifiedName = "${managedBeansPackage}.${messagesFullyQualifiedName}")
#end
#if ($transition.successMessagesPresent)
#foreach ($message in $transition.successMessages.entrySet())
//${indent}${managedBeansPackage}.angularUtils.addInfoMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#if ($transition.warningMessagesPresent)
#foreach ($message in $transition.warningMessages.entrySet())
//${indent}${managedBeansPackage}.angularUtils.addWarningMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#end