/** Add any custom styles to this css **/

* {
    font-size: 97%;
}
.ui-layout-container {
    overflow: auto !important;;
}
.ui-layout-north, .ui-layout-west, .ui-layout-south {
    z-index:100 !important;
}
.ui-layout-south {
    position: fixed !important;
}
.ui-layout-north .ui-layout-unit-content, .ui-layout-west, .ui-layout-north, .ui-layout-center, .ui-panelgrid td, .ui-panelgrid tr {
    border:none !important;
}
.ui-layout-west  .ui-layout-unit-content, .ui-layout-north, .ui-widget-content, .ui-datatable *{
    overflow: visible !important;
}
#pageContent {
    width: 98% !important;
}