#set ($ejbInterface = "jakarta.ejb.EJBLocalObject")
#set ($ejbHomeInterface = "jakarta.ejb.EJBLocalHome")
#if ($service.ejbRemoteView)
#set ($ejbInterface = "jakarta.ejb.EJBObject")
#set ($ejbHomeInterface = "jakarta.ejb.EJBHome")
#end
#set ($ejbSecurityEnabled = $stringUtils.isNotBlank($securityRealm))