#set ($ejbInterface = "${hibernateNamespace}.ejb.EJBLocalObject")
#set ($ejbHomeInterface = "${hibernateNamespace}.ejb.EJBLocalHome")
#if ($service.ejbRemoteView)
#set ($ejbInterface = "${hibernateNamespace}.ejb.EJBObject")
#set ($ejbHomeInterface = "${hibernateNamespace}.ejb.EJBHome")
#end
#set ($ejbSecurityEnabled = $stringUtils.isNotBlank($securityRealm))