##
## This macro renders the <field/> elements
##
#macro (renderField $field $ownerParameter)
#if ($field.backingListName)
#set ($fieldName = $field.name)
#else
#set ($fieldName = $field.getFormPropertyId($ownerParameter))
#end
#set ($validatorTypes = $field.validatorTypes)
            <field property="$fieldName" depends="$stringUtils.join($validatorTypes.iterator(),",")">
                <arg position="0" key="$field.messageKey" />
#if ($field.validWhen)
                <msg name="validwhen" key="${field.messageKey}_validwhen" />
#end
#foreach ($validatorType in $validatorTypes)
#foreach ($validatorArg in $field.getValidatorArgs($validatorType))
#if ($validatorArg.type)
                <arg position="$velocityCount" name="$validatorType" key="$validatorArg.messageKey" resource="true"/>
#else
                <arg position="$velocityCount" name="$validatorType" key="$validatorArg" resource="false"/>
#end
#end
#end
#if ($ownerParameter.complex)
#set ($validatorVars = $field.getValidatorVars($ownerParameter))
#else
#set ($validatorVars = $field.validatorVars)
#end
#foreach ($validatorVar in $validatorVars)
#set ($varValue = $validatorVar.get(1))
#if ($field.equalValidator)
#set ($varValue = "${action.formBeanName}:${varValue}")
#end
                <var>
                    <var-name>$validatorVar.get(0)</var-name>
                    <var-value><![CDATA[$varValue]]></var-value>
                </var>
#end
            </field>
#end