<h2 mat-dialog-title>Edit Fleet Item Template</h2>
<mat-dialog-content>
    <form>
        <!-- <app-fleet-item-template-editor #templateEditor [id]="data?.id"></app-fleet-item-template-editor> -->
         <ng-container id="dialogChild" #dialogChild *ngComponentOutlet="data.component; inputs: data.inputs;"></ng-container>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    @for(action of data?.actions; track action.id) {
        <button mat-button (click)="doDialogAction(action.id)" [disabled]="!formValid()" translate>{{action.label}}</button>
    }
</mat-dialog-actions>