##
## A macro that renders the appropriate action form input field
##
## parameters:
##     o  $parameter - the actual parameter to render
##     o  $ownerParameter - the parameter that is the owner of this parameter (in the case of complex objects)
##
#macro(renderActionInputPrimeFaces $parameter $ownerParameter $ident)
#if ($parameter.backingListName)
#if ($ownerParameter.type.hasStereotype('Entity'))
#set ($propertyId = $parameter.getFormPropertyId($ownerParameter))
#set ($valuePropertyName = ${parameter.getFormPropertyName($ownerParameter)})
#else
#set ($propertyId = $parameter.name)
#set ($valuePropertyName = $parameter.name)
#end
#set ($backingListName = $parameter.backingListName)
#set ($backingValueName = $parameter.backingValueName)
#else
#set ($propertyId = $parameter.getFormPropertyId($ownerParameter))
#set ($valuePropertyName = ${parameter.getFormPropertyName($ownerParameter)})
#set ($backingListName = ${parameter.getBackingListName($ownerParameter)})
#set ($backingValueName = ${parameter.getBackingValueName($ownerParameter)})
#end
#set ($formValuePropertyName = "${formName}.${valuePropertyName}")
${ident}<td>
${ident}    <label id="${propertyId}_label" for="${propertyId}" value="#{messages['$parameter.messageKey']}">#{messages['$parameter.messageKey']}:</label>
${ident}</td>
#if ($parameter.type.dateType)
${ident}<td>
${ident}    <input type="date" id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" readonly="${parameter.readOnly}" navigator="true" pattern="$parameter.format" showOn="button">
## ${ident}    <f:convertDateTime pattern="$parameter.format"/>
${ident}    </input>
${ident}</td>
#elseif ($parameter.inputCheckbox)
${ident}<td>
${ident}    <input id="$propertyId" type="checkbox" value="#{${formValuePropertyName}}" required="$parameter.required" onLabel="#{messages['yes']}" offLabel="#{messages['no']}" onIcon="ui-icon-check" offIcon="ui-icon-close"#if($parameter.readOnly) readonly#end/>
${ident}</td>
#elseif ($parameter.inputSelect || $parameter.type.enumeration)
#set ($multiSelect = $parameter.many || $parameter.type.collectionType || $parameter.type.arrayType)
#set ($selectBoxType = "selectOneMenu")
#if ($multiSelect)
#set ($selectBoxType = "selectManyMenu")
#end
${ident}<td>
${ident}    <select #if ($multiSelect)multiple size="5"#end id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required"#if($parameter.readOnly) readonly#end>
#if ($parameter.type.enumeration)
                    <option value=""></option>
#foreach($literal in $parameter.type.literals)
                    <option value=#if($literal.value)"${literal.value}"#elseif(${literal.defaultValue})${literal.defaultValue}#else"${literal.name}"#end>$literal.name</option>
#end
#else
#if(!$parameter.required)
${ident}        <option value=""></option>
#end
${ident}        <f:selectItems value="#{${formName}.${backingListName}}" />
#end
${ident}    </select>
${ident}</td>
#elseif ($parameter.inputFile)
${ident}<input type="file" id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required"#if($parameter.readOnly) readonly#end/>
#elseif ($parameter.inputMultibox)
${ident}<input id="$propertyId" type="checkbox" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required"#if($parameter.readOnly) readonly#end>
${ident}    <f:selectItems value="#{${formName}.${backingListName}}" />
${ident}</input>
#elseif ($parameter.inputRadio)
${ident}<input type="radio" id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required"#if($parameter.readOnly) readonly#end>
${ident}    <f:selectItems value="#{${formName}.${backingListName}}" />
${ident}</input>
#elseif ($parameter.plainText)
${ident}<td>
${ident}    <input id="$propertyId" type="text" name="$parameter.name" value="#{${formValuePropertyName}}"  required="$parameter.required"#if($parameter.readOnly) readonly#end/>
${ident}</td>
#elseif ($parameter.inputSecret)
${ident}<td>
${ident}    <input id="$propertyId" type="password" name="$parameter.name" value="#{${formValuePropertyName}}"  required="$parameter.required"#if($parameter.readOnly) readonly#end/>
${ident}</td>
#else
${ident}<td>
${ident}    <input id="$propertyId" type="text" name="$parameter.name" value="#{${formValuePropertyName}}"  required="$parameter.required"#if($parameter.readOnly) readonly#end/>
${ident}</td>
#end
${ident}<td><span id="${propertyId}_message" for="${propertyId}"></span></td>
#end