##
## This macro renders the <f:param> elements for a command link
##
#macro (renderAngularTableCommandLinkParameters $ident)
#foreach ($parameter in $action.parameters)
#if ($table.tableColumnNames.contains($parameter.name) || $table.tableAttributeNames.contains($parameter.name))
#set ($parameterValue = "row.${parameter.name}")
#else
#set ($parameterValue = "$parameter.name")
#end
${ident}<a (click)="${action.triggerName}(#renderAngularTableCommandLinkParameters())">$stringUtils.toPhrase($action.trigger.messageKey)</a> 
#end
#end