<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IType"
            nameFilter="*"
            id="org.andromda.eclipse.refactoring.contribution1">
         <menu
               label="AndroMDA"
               path="additions"
               id="org.andromda.eclipse.refactoring.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Rename..."
               class="org.andromda.eclipse.refactoring.popup.actions.TypeRenameAction"
               menubarPath="org.andromda.eclipse.refactoring.menu1/group1"
               enablesFor="1"
               id="org.andromda.eclipse.refactoring.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
