##
##  This macro renders the backing list support for the form implementation
##
#macro(renderBackingListImplSupport $field $ownerParameter)
#if ($field.backingListName)
#set ($backingListName = $field.backingListName)
#else
#set ($backingListName = $field.getBackingListName($ownerParameter))
#end

    /**
     * Stores the label/value pairs.
     */
    $backingListName: Array<any>;
    
#end
##
##  This macro renders an alternate getter to boolean types because some frameworks
##  like Primefaces does not work well with 'is' in boolean types
##
#macro (renderAlternateGetterForPrimitiveBoolean $fieldName $fieldType $defaultGetter)
#if($defaultGetter.startsWith("is"))
#set($newGetter = $defaultGetter.replaceFirst("is","get"))
    public ${newGetter}(): $fieldType.angularTypeName
    {
        return this.$fieldName;
    }
#end
#end
