##
## A macro that renders the appropriate action form input field
##
## parameters:
##     o  $parameter - the actual parameter to render
##     o  $ownerParameter - the parameter that is the owner of this parameter (in the case of complex objects)
##
#macro(renderActionInputPrimeFaces $parameter $ownerParameter $ident)
#if ($parameter.backingListName)
#if ($ownerParameter.type.hasStereotype('Entity'))
#set ($propertyId = $parameter.getFormPropertyId($ownerParameter))
#set ($valuePropertyName = ${parameter.getFormPropertyName($ownerParameter)})
#else
#set ($propertyId = $parameter.name)
#set ($valuePropertyName = $parameter.name)
#end
#set ($backingListName = $parameter.backingListName)
#set ($backingValueName = $parameter.backingValueName)
#else
#set ($propertyId = $parameter.getFormPropertyId($ownerParameter))
#set ($valuePropertyName = ${parameter.getFormPropertyName($ownerParameter)})
#set ($backingListName = ${parameter.getBackingListName($ownerParameter)})
#set ($backingValueName = ${parameter.getBackingValueName($ownerParameter)})
#end
#set ($formValuePropertyName = "${formName}.${valuePropertyName}")
${ident}<!-- ${propertyId} -->
${ident}<p:outputLabel id="${propertyId}_label" for="${propertyId}" value="#{messages['$parameter.messageKey']}:"/>
#if ($parameter.type.dateType)
${ident}<p:calendar id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" readonly="${parameter.readOnly}" navigator="true" pattern="$parameter.format" showOn="button">
${ident}    <f:convertDateTime pattern="$parameter.format"/>
${ident}</p:calendar>
#elseif ($parameter.inputCheckbox)
${ident}<p:selectBooleanButton id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" onLabel="#{messages['yes']}" offLabel="#{messages['no']}" onIcon="ui-icon-check" offIcon="ui-icon-close" readOnly="$parameter.readOnly"/>
#elseif ($parameter.inputSelect || $parameter.type.enumeration)
#set ($multiSelect = $parameter.many || $parameter.type.collectionType || $parameter.type.arrayType)
#set ($selectBoxType = "selectOneMenu")
#if ($multiSelect)
#set ($selectBoxType = "selectManyMenu")
#end
${ident}<p:$selectBoxType id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" readonly="$parameter.readOnly">
#if ($parameter.type.enumeration)
${ident}    <f:converter converterId="${parameter.type.fullyQualifiedName}"/>
${ident}    <f:selectItem itemLabel=""/>
${ident}    <f:selectItems value="#{ajsf:getEnumSelectItems('${parameter.type.messageKey}.','${parameter.type.fullyQualifiedName}')}"/>
#else
#if(!$parameter.required)
${ident}    <f:selectItem itemLabel=""/>
#end
${ident}    <f:selectItems value="#{${formName}.${backingListName}}" />
#end
${ident}</p:$selectBoxType>
#elseif ($parameter.inputFile)
${ident}<p:fileUpload id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" readonly="$parameter.readOnly"/>
#elseif ($parameter.inputMultibox)
${ident}<p:selectManyCheckbox id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" readonly="$parameter.readOnly">
${ident}    <f:selectItems value="#{${formName}.${backingListName}}" />
${ident}</p:selectManyCheckbox>
#elseif ($parameter.inputRadio)
${ident}<p:selectOneRadio id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" readonly="$parameter.readOnly">
${ident}    <f:selectItems value="#{${formName}.${backingListName}}" />
${ident}</p:selectOneRadio>
#elseif ($parameter.plainText)
${ident}<p:inputText id="$propertyId" value="#{${formValuePropertyName}}" disabled="true" required="$parameter.required" readonly="true"/>
#elseif ($parameter.inputSecret)
${ident}<p:password id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" feedback="true"#if($parameter.maxLength) maxlength="$parameter.maxLength"#end readonly="$parameter.readOnly"/>
#else
${ident}<p:inputText id="$propertyId" value="#{${formValuePropertyName}}" required="$parameter.required" readonly="$parameter.readOnly">
#if ($parameter.type.timeType)
${ident}    <f:convertDateTime pattern="$parameter.format"/>
#end
${ident}</p:inputText>
#end
${ident}<p:message id="${propertyId}_message" for="$propertyId"/>
#end