################################################################
## Property definitions for use in EJB templates              ##
################################################################
##
## This file defines the following properties:
##
## $packagename
##   the name of the package for the current class
##
## $entityname
##   the (unqualified) name of the entity, as defined in the UML model.
##   Empty if the current class is a <<Service>>
##
## $servicename
##   the (unqualified) name of the service, as defined in the UML model
##   Empty if the current class is an <<Entity>>
##
## $servicetype
##   the Session bean type. If the service class has non-static attributes,
##   this is "Stateful", else it is "Stateless"
##   Empty if the current class is an <<Entity>>
##
## $pkclassname
##    the fully qualified name of the primary key class for this entity.
##    If this entity or any of its super classes has a dependency stereotyped
##    <<PrimaryKey>>, $pkclassname is set to the name of the supplier for this
##    dependency. Otherwise, if there is an attribute stereotyped <<PrimaryKey>>,
##    $pkclassname is the name of this attributes type. If neither a PK dependency
##    nor a PK attribute exists, the primary key class defaults to 
##    "java.lang.String"
##    Empty if the current class is a <<Service>>
##
## $beanparentclass
##    the fully qualified classname of the parent class for the generated
##    bean class. If this entity has a parent class in the UML model, this is
##    either the name of the parent class or - if the parent class itself is
##    sterotyped <<Entity>> or <<Service>> - the name of the corresponding 
##    implementation class If no parent class is specified in the UML model, 
##    this value defaults to 'java.lang.Object'
##  
#set ($packagename = $class.packageName)
#if ($class.hasStereotype("Entity"))
#set ($entityname = $class.name)
#set ($primaryKeyAttribute = $class.identifiers.iterator().next())
#set ($pkclassname = $primaryKeyAttribute.type.fullyQualifiedName)
#end
#if ($class.hasStereotype("Service"))
#set ($servicename = $class.name)
#if ($class.allInstanceAttributes.empty)
#set ($servicetype = "Stateless")
#else 
#set ($servicetype = "Stateful")
#end
#end
## 
##
## Set the "$beanparentclass" property.
#set ($superclass = $class.generalization)
#if ($superclass)
#if ($superclass.hasStereotype("Entity") || $superclass.hasStereotype("Service"))
## Extend the implementation class if the super type is an <<Entity>> or <<Service>>
#set ($beanparentclass = "${superclass.type.fullyQualifiedName}BeanImpl")
#else
#set ($beanparentclass = $superclass.fullyQualifiedName)
#end
#else
#set ($beanparentclass = 'java.lang.Object')
#end
#set ($ejbRefName = "ejb/${class.packageName}/${class.name}")
##
