#parse("templates/spring/SpringGlobals.vm")
#set ($ejbRemoteView = $ejbViewType.equalsIgnoreCase('remote'))
#set ($ejbInterface = "javax.ejb.EJBLocalObject")
#set ($ejbHomeInterface = "javax.ejb.EJBLocalHome")
#if ($ejbRemoteView)
#set ($ejbInterface = "javax.ejb.EJBObject")
#set ($ejbHomeInterface = "javax.ejb.EJBHome")
#end
#set ($ejbSecurityEnabled = $stringUtils.isNotBlank($securityRealm))