<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.andromda.android"
            name="AndroMDA"/>
      <wizard
            category="org.andromda.android"
            class="org.andromda.android.ui.wizards.newproject.NewAndroMDAProjectWizard"
            icon="icons/sample.gif"
            id="org.andromda.android.ui.wizards.newproject.NewAndroMDAProjectWizard"
            name="AndroMDA Project"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.andromda.android.ui.editors.configuration.ConfigurationEditor"
            contributorClass="org.andromda.android.ui.editors.configuration.ConfigurationEditorContributor"
            default="true"
            filenames="andromda.xml"
            icon="icons/sample.gif"
            id="org.andromda.android.ui.editors.configuration.ConfigurationEditor"
            name="AndroMDA Configuration Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.andromda.android.internal.ui.preferences.SamplePreferencePage"
            id="org.andromda.android.internal.ui.preferences.SamplePreferencePage"
            name="Sample Preferences"/>
   </extension>

</plugin>
