# +-----------------------------------------------------+
# |                                                     |
# | This is the configuration file for the JBuilder IDE |
# |                                                     |
# |   Do NOT make modifications without maintaining a   |
# |      backup copy.  See config_readme.html for a     |
# |      description of the recognized directives.      |
# |                                                     |
# +-----------------------------------------------------+

# Read the shared JDK definition
include jdk.config

# Tune this VM to provide enough headroom to work on large
# applications
vmparam -Xms32m
vmparam -Xmx256m

# Add all JAR files located in the patch, lib and lib/ext directory
addjars ../classes
addjars ../patch
addjars ../lib
addjars ../lib/servers
addjars ../lib/ext

# Activate the shell integration
socket 8888

# Add all the configuration files located in the lib/ext directory
includedir ../lib/ext

# JBuilder needs to have access to the environment
exportenv true

mainclass com.togethersoft.platform.impl.modulemanager.CmdMain
addparam XMIExport4AndroMDA