a            {color:#003CD7;}
a:visited    {color:#003CD7;}
body         { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0) }
table        { table-border-color-light: rgb(204, 153, 102); table-border-color-dark: 
               rgb(102, 0, 0) }
h1           { color: rgb(0, 0, 0) }
h2           { color: rgb(102, 0, 51) }
h3           { color: rgb(153, 102, 0) }
h4           { color: rgb(0, 0, 0) }
h5           { color: rgb(102, 0, 51) }
h6           { color: rgb(153, 102, 0) }
button       { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255) }
label        { color: rgb(0, 0, 0) }
textarea     { color: rgb(0, 0, 0) }
fieldset     { color: rgb(0, 0, 0) }
legend       { color: rgb(0, 0, 0) }
select       { color: rgb(0, 0, 0) }
caption      { color: rgb(0, 0, 0) }
th           { color: rgb(0, 0, 0) }

.banner      { font-size: 14pt; font-family: Verdana, Arial, Helvetica; 
               font-style: normal; font-weight: normal; color: #000099; }
.std         { font-size: 10pt; font-family: Verdana, Arial, Helvetica; 
               font-style: normal; font-weight: normal }
.fblabel     { font-size: 8pt font-family: Verdana, Arial, Helvetica; 
               font-style: normal; font-weight: normal }
.nav         { font-size: 8pt; font-family: Verdana, Arial, Helvetica; 
               font-style: normal; font-weight: normal }
.news        { font-size: 8pt; font-family: Verdana, Arial, Helvetica; 
               font-style: normal; font-weight: normal }

a            { text-decoration: none }
a:hover      {text-decoration:underline;}

body         { vertical-align: none; text-align: none; font-family: Verdana, Arial, Helvetica; 
               font-style: normal; font-weight: normal }
button       { font-size: 8pt; font-style: normal; font-family: Arial, Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
caption      { font-size: 14pt; font-style: normal; font-family: Arial, Arial, Helvetica }
fieldset     { font-family: Arial, Arial, Helvetica; font-size: 8pt; font-style: normal; 
               border-style: solid; border-width: 1pt }
h1           { vertical-align: none; font-size: 18pt; font-family: Verdana, Arial, Helvetica; 
               text-align: none; font-weight: normal; font-style: normal }
h2           { font-family: Verdana, Arial, Helvetica; font-style: normal; font-size: 14pt; 
               font-weight: normal; vertical-align: none; text-align: none }
h3           { font-family: Verdana, Arial, Helvetica; text-align: none; font-size: 12pt; 
               vertical-align: none; font-weight: normal; font-style: normal }
h4           { font-weight: normal; font-size: 10pt; font-style: normal; text-align: none; 
               font-family: Verdana, Arial, Helvetica; vertical-align: none }
h5           { font-size: 10pt; font-style: normal; font-weight: normal; font-family: 
               Verdana, Arial, Helvetica; vertical-align: none; text-align: 
               none }
h6           { text-align: none; vertical-align: none; font-family: Verdana, Arial, Helvetica; 
               font-size: 8pt; font-style: normal; font-weight: normal }
label        { font-size: 8pt; font-style: normal; font-family: Arial, Arial, Helvetica }
legend       { font-style: normal; font-size: 8pt; font-family: Arial, Arial, Helvetica }
marquee      { font-family: Arial, Arial, Helvetica; font-size: 14pt }
select       { font-style: normal; font-family: Arial, Arial, Helvetica; font-size: 8pt; 
               border-style: solid; border-width: 1pt }
table        { font-family: Verdana, Arial, Helvetica; font-style: normal; font-weight: 
               normal; text-align: none; vertical-align: none }
textarea     { font-style: normal; font-size: 11pt; font-family: Arial, Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
