##
## A shared macro that performs population of the previous form with 
## the request parameters
##
## We populate the current form with only request parameters (we don't want the new
## form set within the request, because we'll lose things like select lists, and any other
## collections on the form)
##
#macro (populateCurrentFormOnError)
            // we populate the current form with only the request parameters
            Object currentForm = request.getSession().getAttribute("$action.formKey");
            // if we can't get the 'form' from the session, try from the request
            if (currentForm == null)
            {
                currentForm = request.getAttribute("$action.formKey");
            }
            if (currentForm != null)
            {
                final java.util.Map parameters = new java.util.HashMap();
                for (final java.util.Enumeration names = request.getParameterNames(); names.hasMoreElements();)
                {
                    final String name = String.valueOf(names.nextElement());
                    parameters.put(name, request.getParameter(name));
                }
                try
                {
                    org.apache.commons.beanutils.BeanUtils.populate(currentForm, parameters);
                }
                catch (java.lang.Exception populateException)
                {
                    // ignore if we have an exception here (we just don't populate).
                }
            }
#end