################################################################
## Macro definitions for use in EJB templates                 ##
################################################################
##
##
## ---------------- macro copyTaggedValues ----------------
##
#macro (copyTaggedValues $item $indent $exclude)
#foreach ( $tgv in $class.taggedValues )
#if ($tgv.name.startsWith("@") && ! $exclude.contains($tgv.name))
${indent}* $tgv.name $tgv.value
#end
#end
#end
