##
##
##      This macro takes care of rendering the appropriate Struts
##      HTML hyperlink tags for the argument action
##
##
#macro ( renderHyperlink $action $indent )
#set ($roles = $action.actionRoles)
#set ($trigger = $action.actionTrigger)
#set ($triggerKey = $trigger.triggerKey)
#set ($parameters = $action.actionParameters)
#set ($formBeanName = $action.formKey)
#set ($securityEnabled = $stringUtils.isNotBlank($securityRealm) && $stringUtils.isNotBlank($roles) )
#if ($securityEnabled)
${indent}<logic:present role="$roles">
#end
#set ($requestPath = "${action.actionPath}")
#set ($separator = "?")
#foreach ($parameter in $parameters)
#set ($propertyName = "${formBeanName}.${parameter.name}")
#if($velocityCount > 1)#set($separator = "&")#end
#set ($requestPath = "${requestPath}${separator}${parameter.name}=${${propertyName}}")
#end
${indent}    <p>
${indent}        <html:link action="${requestPath}" #if($hints=="true")onmouseover="hints.show('${trigger.name}')" onmouseout="hints.hide()"#end>
${indent}            <bean:message key="$triggerKey"/>
${indent}        </html:link>
${indent}    </p>
#if ($securityEnabled)
${indent}</logic:present>
${indent}<logic:notPresent role="$roles">
${indent}   <bean:message key="$triggerKey"/> <br/>
${indent}</logic:notPresent>
#end
#end
##
##
##      This macro takes care of rendering the appropriate Struts
##      HTML hyperlink tags for the argument action in a table
##
##
#macro ( renderTableHyperlink $action $columnName $indent )
#set($uriQuery='')#set($delim='?')#set($beanName="row")
#foreach ($parameter in $action.actionParameters)
## temporarily commented out, we're taking all parameters from the row since we can't easily check if the row property
## is missing the property (reflection is not supported in taglibs nor JSTL EL)
## the idea was to take a property from the action form when it is not defined on the row class
##if(!$action.tableLinkParameter.tableColumnNames.contains($parameter.name))#set($beanName=$formName)#end
#set($paramValue="${beanName}.${parameter.name}")#set($uriQuery="${uriQuery}${delim}${parameter.name}=${${paramValue}}")#set($delim='&')
#end
${indent}<html:link action="${action.actionPath}${uriQuery}" #if($hints=="true")onmouseover="hints.show('$action.actionTrigger.name')" onmouseout="hints.hide()"#end>
#if ($action.tableLinkColumnName)## the action is targetting a column, so display the table cell value
#set($linkValue="${beanName}.${columnName}")
${indent}    ${${linkValue}}
#else
${indent}    <bean:message key="$action.actionTrigger.triggerKey"/>
#end
${indent}</html:link>
#end
##
##
##      This macro takes care of rendering the appropriate Struts
##      HTML hyperlink tags for the argument action in a table
##
##
#macro ( renderTableButton $action $indent $rowIndex )
#set($linkParameters="")
#set($delim='?')
#set($beanName="row")
#set ($parameterCount = $action.actionParameters.size())
#foreach ($parameter in $action.actionParameters)
## temporarily commented out, we're taking all parameters from the row since we can't easily check if the row property
## is missing the property (reflection is not supported in taglibs nor JSTL EL)
## the idea was to take a property from the action form when it is not defined on the row class
##if(!$action.tableLinkParameter.tableColumnNames.contains($parameter.name))#set($beanName=$formName)#else#set($beanName="row")#end
#set($linkParameters="${linkParameters}${delim}${parameter.name}=")
#if ($parameter.widgetType == 'plaintext')
#set($linkParameters="${linkParameters}${${beanName}.${parameter.name}}")
#set ($delim = '&')
#else
#set($linkParameters="${linkParameters}'+getDiv('$parameter.styleId$rowIndex').value")
#set ($delim = "+'&")
#end
#end
## properly add a suffix when that last entry was an updateable field so the javascript does not have
## an unclosed literal
${indent}<c:set var="link">'<html:rewrite action="${action.actionPath}"/>${linkParameters}#if($delim!="+'&")'#end</c:set>
#if ($action.imageLink)
${indent}<nobr><html:link href="javascript:document.location=${link};" styleClass="imageLink"><html:img pageKey="$action.imageMessageKey"/></html:link></nobr>
#else
${indent}<nobr><html:link href="javascript:document.location=${link};" styleClass="buttonLink"><bean:message key="$action.messageKey"/></html:link></nobr>
#end
#end
##
##
##      This macro takes care of rendering the appropriate Struts
##      HTML button tags for the argument action
##
##
#macro ( renderFormButtons $action $indent )
#set ($messageKey = $action.messageKey)
#set ($trigger = $action.actionTrigger)
#set ($roles = $action.actionRoles)
#set ($securityEnabled = $stringUtils.isNotBlank($securityRealm) && $stringUtils.isNotBlank($roles))
#if ($securityEnabled)
${indent}<logic:present role="$roles">
#end
${indent}   <html:submit #if($hints=="true")onmouseover="hints.show('${trigger.name}')" onmouseout="hints.hide()"#end styleId="form_submit">
${indent}       <bean:message key="$trigger.triggerKey"/>
${indent}   </html:submit>
#if ($action.resettable)
${indent}   <html:reset #if($hints=="true")onmouseover="hints.show('${trigger.name}_reset')" onmouseout="hints.hide()"#end styleId="form_reset">
${indent}       <bean:message key="$trigger.resetMessageKey"/>
${indent}   </html:reset>
#end
#if ($securityEnabled)
${indent}</logic:present>
${indent}<logic:notPresent role="$roles">
${indent}   <html:submit #if($hints=="true")onmouseover="hints.show('${trigger.name}_no')" onmouseout="hints.hide()"#end disabled="true" styleId="form_submit">
${indent}       <bean:message key="$trigger.triggerKey"/>
${indent}   </html:submit>
#if ($action.resettable)
${indent}   <html:reset #if($hints=="true")onmouseover="hints.show('${trigger.name}_noreset')" onmouseout="hints.hide()"#end disabled="true" styleId="form_reset">
${indent}       <bean:message key="$trigger.resetMessageKey"/>
${indent}   </html:reset>
#end
${indent}</logic:notPresent>
#end
#end
##
##
##      This macro takes care of rendering the appropriate Struts tags
##      for the argument form field
##
##
#macro ( renderFormField $action $field $indent $rowIndex )
#set ($quote ='"')
#set ($fieldName = $field.name)
#set ($widgetType = $field.widgetType)
#set ($formBeanName = $action.formKey)## used to denote the request scope form
#if($field.fieldRowCount)#set($rowCount=" rows=$quote$field.fieldRowCount$quote")#else#set($rowCount='')#end
#if($field.fieldColumnCount)#set($columnCount=" size=$quote$field.fieldColumnCount$quote")#else#set($columnCount='')#end
#if($rowIndex=='')
#set($beanName=$formBeanName)
#else
#set($beanName="row")## used to denote the bean representing a row if in a table, equals $formBeanName otherwise
#end
#set ($styleId = "$field.styleId$rowIndex")
#if ($field.readOnly)
#set ($disabled = 'disabled="true"')
#set ($readonly = 'readonly="true"')
#else
#set ($disabled = '')
#set ($readonly = '')
#end
##
##  Depending on the type of the input field we render a different widget
##
##
##      R A D I O B U T T O N
##
#if ($widgetType == 'radio')
${indent}<table>
#foreach ($optionKey in $field.optionKeys)
#set ($optionIndex = $velocityCount - 1)
${indent}    <tr>
${indent}        <td>
${indent}            <html:$widgetType name="$beanName" property="$fieldName" value="$optionIndex" #if($hints=="true")onmouseover="hints.show('$field.titleKey')" onmouseout="hints.hide()"#end $disabled styleId="$styleId"/>
${indent}            <bean:message key="$optionKey"/>
${indent}        </td>
${indent}    </tr>
#end
${indent}</table>
##
##      C H E C K B O X
##
#elseif ($widgetType == 'checkbox')
${indent}<html:$widgetType name="$beanName" property="$fieldName" #if($hints=="true")onmouseover="hints.show('$field.titleKey')" onmouseout="hints.hide()"#end $disabled styleId="$styleId"/>
##
##      M U L T I B O X
##
## @todo: disable this widget if not used in a row action
#elseif ($widgetType == 'multibox')
${indent}<html:$widgetType name="$formBeanName" property="$field.multiboxPropertyName" #if($hints=="true")onmouseover="hints.show('$field.titleKey')" onmouseout="hints.hide()"#end $disabled styleId="$styleId">
#set ($multiboxBody = "$beanName.${fieldName}")
${indent}    ${${multiboxBody}}
${indent}</html:$widgetType>
##
##      T E X T F I E L D       &       P A S S W O R D
##
#elseif ( ($widgetType == 'text') || ($widgetType == 'password') )
${indent}<html:$widgetType name="$beanName" property="$fieldName" #if($hints=="true")onmouseover="hints.show('$field.titleKey')" onmouseout="hints.hide()"#end $readonly$columnCount styleId="$styleId"/>
#if ( ($widgetType == 'text') && $field.calendarRequired )
${indent}<html:img page="/layout/calendar/calendar.gif" styleId="$stringUtils.lowerCamelCaseName($action.actionTrigger.name)_${fieldName}_trigger" styleClass="calendar" #if($hints=="true")onmouseover="hints.show('calendar.popup')" onmouseout="hints.hide()"#end/>
${indent}<script type="text/javascript">
#if ($xhtml == "true")
${indent}//<![CDATA[
#else
${indent}//<!--
#end
#set ($calendarFieldFormat = $dateUtils.formatJavaToPerl($field.dateFormat))
${indent}    Calendar.setup({
${indent}        inputField     :    "${styleId}",
${indent}        ifFormat       :    "$calendarFieldFormat",
${indent}        daFormat       :    "$calendarFieldFormat",
${indent}        showsTime      :    $dateUtils.containsTimeFormat($calendarFieldFormat),
${indent}        button         :    "$stringUtils.lowerCamelCaseName($action.actionTrigger.name)_${fieldName}_trigger",
${indent}        singleClick    :    true
${indent}    });
#if ($xhtml == "true")
${indent}//]]>
#else
${indent}//-->
#end
${indent}</script>
#end
##
##      T E X T A R E A
##
#elseif ($widgetType == 'textarea')
${indent}<html:$widgetType name="$beanName" property="$fieldName" #if($hints=="true")onmouseover="hints.show('$field.titleKey')" onmouseout="hints.hide()"#end $readonly$rowCount$columnCount styleId="$styleId"/>
##
##      H I D D E N
##
#elseif ($widgetType == 'hidden')
${indent}<html:$widgetType name="$beanName" property="$fieldName" styleId="$styleId"/>
##
##      C O M B O B O X     &      L I S T
##
#elseif ($widgetType == 'select')
#if ($field.multiple)
#set ($multiple = ' multiple="multiple"')
#else
#set ($multiple = '')
#end
#if ($field.type.collectionType)
#set ($selectProperty = "${fieldName}AsArray")
#else
#set ($selectProperty = "$fieldName")
#end
${indent}<c:choose>
${indent}    <c:when test="${!empty ${formBeanName}.${field.backingListName}}">
${indent}       <html:select name="$beanName" property="$selectProperty" #if($hints=="true")onmouseover="hints.show('$field.titleKey')" onmouseout="hints.hide()"#end $disabled$multiple$columnCount styleId="$styleId">
${indent}           <html:optionsCollection name="$formBeanName" property="$field.backingListName" label="label" value="value"/>
${indent}       </html:select>
${indent}    </c:when>
${indent}    <c:otherwise>
${indent}        <html:select name="$beanName" property="$selectProperty" #if($hints=="true")onmouseover="hints.show('$field.titleKey')" onmouseout="hints.hide()"#end $disabled$columnCount styleId="$styleId"/>
${indent}    </c:otherwise>
${indent}</c:choose>
##
##      L I N K
##
#elseif ($widgetType == 'link')
#foreach ($parameter in $action.actionParameters)
#set ($propertyName = "$beanName.${parameter.name}")
#if ($velocityCount == 1)
#set ($requestPath = "${action.actionPath}?${parameter.name}=${${propertyName}}")
#else
#set ($requestPath = "${requestPath}&${parameter.name}=${${propertyName}}")
#end
#end
#set ($propertyName = "$beanName.${fieldName}")
${indent}<html:$widgetType action="${requestPath}" #if($hints=="true")onmouseover="hints.show('$field.titleKey')" onmouseout="hints.hide()"#end>${${propertyName}}</html:$widgetType>
#if ($action.tableLink)
${indent}<html:hidden name="$beanName" property="$fieldName" styleId="$styleId"/>
#end
##
##      F I L E
##
#elseif ($widgetType == 'file')
${indent}<html:$widgetType name="$beanName" property="$fieldName" #if($hints=="true")onmouseover="hints.show('$field.titleKey')" onmouseout="hints.hide()"#end $disabled$columnCount styleId="$styleId"/>
##
##      P L A I N T E X T
##
#else
## we could also test for widget type == 'plaintext', but that would be redundant here
#set ($plainText = "${beanName}.${fieldName}")
#if ($field.strutsAction.tableLink)
${indent}<html:hidden name="row" property="$fieldName" styleId="$styleId" value="${${plainText}}"/>
#end
${indent}${${plainText}}
#end
#end
