##
##
##
#macro ( renderAttribute $field $indent )
#if ($field.type.fullyQualifiedName == 'boolean' || $field.type.fullyQualifiedName == 'java.lang.Boolean')
${indent}<html:checkbox name="manageableForm" property="$field.manageableName" styleClass="criteriaField" styleId="$field.manageableName" disabled="true"/>
#else
${indent}<html:text name="manageableForm" property="$field.manageableName" styleClass="criteriaField" styleId="$field.manageableName"/>
#if ($field.date)
${indent}<html:img page="/layout/calendar/calendar.gif" styleId="${field.name}_trigger" styleClass="calendar"/>
${indent}<script type="text/javascript">
#if ($xhtml == "true")
${indent}//<![CDATA[
#else
${indent}//<!--
#end
#set ($calendarFieldFormat = $dateUtils.formatJavaToPerl($field.dateFormat))
${indent}    Calendar.setup({
${indent}        inputField     :    "$field.name",
${indent}        ifFormat       :    "$calendarFieldFormat",
${indent}        daFormat       :    "$calendarFieldFormat",
${indent}        showsTime      :    $dateUtils.containsTimeFormat($calendarFieldFormat),
${indent}        button         :    "${field.name}_trigger",
${indent}        singleClick    :    true
${indent}    });
#if ($xhtml == "true")
${indent}//]]>
#else
${indent}//-->
#end
${indent}</script>
#end
#end
#end
##
##
##
#macro ( renderAssociationEnd $field $indent )
${indent}<c:choose>
#set ($list = "manageableForm.${field.manageableName}BackingList")
#set ($test = "empty $list")
${indent}    <c:when test="${${test}}">
${indent}        <select name="$field.manageableName" disabled="disabled"/>
${indent}    </c:when>
${indent}    <c:otherwise>
${indent}        <select name="$field.manageableName">
${indent}            <option value=""><bean:message key="select.option.blank"/></option>
${indent}            <c:forEach var="valueLabel" items="${${list}}">
${indent}                <c:choose>
#set ($test = "valueLabel[0] eq $field.manageableName")
${indent}                    <c:when test="${${test}}">
#set ($value = '${valueLabel[0]}')
#set ($label = '${valueLabel[1]}')
${indent}                        <option value="$value" selected="selected">$label</option>
${indent}                    </c:when>
${indent}                    <c:otherwise>
${indent}                        <option value="$value">$label</option>
${indent}                    </c:otherwise>
${indent}                </c:choose>
${indent}            </c:forEach>
${indent}        </select>
${indent}    </c:otherwise>
${indent}</c:choose>
#end
##
##
##
#macro ( renderAssociationLink $field $indent )
#if ($field.type.preload)## only render the link when the entity can be managed
${indent}<html:link action="$field.type.actionPath"><bean:message key="$field.type.messageKey"/></html:link>
#end
#end
##
## This stuff *must* be rendered on a single line
##
#macro ( renderJavascriptCopyRow $manageable )#foreach($member in $manageable.manageableMembers)#set($property = "row.${member.manageableName}")document.${manageable.formBeanName}.${member.manageableName}.value='${${property}}';#end#end
