<settings>
    <profiles> 
        <profile> 
            <id>andromda</id> 
            <repositories> 
                <repository> 
                    <id>ibiblio</id> 
                    <name>IBiblio</name> 
                    <url>http://www.ibiblio.org/maven2</url> 
                    <layout>default</layout> 
                    <snapshots> 
                        <enabled>false</enabled> 
                    </snapshots> 
                </repository> 
                <repository> 
                    <id>ibiblio-snapshot</id> 
                    <name>IBiblio</name> 
                    <url>http://www.ibiblio.org/maven2</url> 
                    <layout>default</layout> 
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </repository>
                <repository>
                    <id>ibiblio</id>
                    <name>IBiblio</name>
                    <url>http://www.ibiblio.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>ibiblio-snapshot</id>
                    <name>IBiblio</name>
                    <url>http://www.ibiblio.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>andromda</id>
                    <name>AndroMDA</name>
                    <url>http://galaxy.andromda.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>andromda-snapshot</id>
                    <name>AndroMDA</name>
                    <url>http://galaxy.andromda.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories> 
            <pluginRepositories> 
                <pluginRepository> 
                    <id>ibiblio</id> 
                    <name>IBiblio</name> 
                    <url>http://www.ibiblio.org/maven2</url> 
                    <layout>default</layout> 
                    <snapshots> 
                        <enabled>false</enabled> 
                    </snapshots> 
                </pluginRepository> 
                <pluginRepository> 
                    <id>ibiblio-snapshot</id> 
                    <name>IBiblio</name> 
                    <url>http://www.ibiblio.org/maven2</url> 
                    <layout>default</layout> 
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </pluginRepository>
                <pluginRepository>
                    <id>andromda</id>
                    <name>AndroMDA</name>
                    <url>http://galaxy.andromda.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>andromda-snapshot</id>
                    <name>AndroMDA</name>
                    <url>http://galaxy.andromda.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories> 
        </profile> 
	</profiles>
   
	<activeProfiles>
       		<activeProfile>andromda</activeProfile> 
	</activeProfiles>
</settings>
