.*
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
}

.applicationTitle
{
   font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 200%;
   color: #FFFFFF;
}

.standard
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

.standard_bold
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}

.scrollerTable
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6392C6;
    border-color: #6392C6;
    padding: 2px;
    border-style: dashed;
    border-width: 1px;
    width: 100%;
}

.scroller
{
    padding: 0px;
}

.scrollerText
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #6392C6;
}

.paginator
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.standardTable
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6392C6;
    padding: 2;
    border-style: solid;
    border-color: #6392C6;
    border-width: 1px;
}

.standardTableHeader
{
    color: #000000;
    background-color: #E7EFF7;
    border-color: #6392C6;
    color: #6392C6;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.standardTableSortHeader
{
    background-color: #FFDD00;
    color: #000000;
    padding: 3;
    text-align: center;
    border: none;
    font-weight: bold;
}

.standardTableFooter
{
    background-color: #FFFFE0;
}

.standardTableRowOdd
{
    background-color: #FFFFE0;
}

.standardTableRowEven
{
    background-color: #FFFFE0;
}

.standardTableColumn
{
}

.loginText
{
   font-size: 13px;
   font-style: italic;
   font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
}

.logout
{
   color: #FFFFE0;
   font-weight: none;
   text-decoration: underline;  
   font-size: 10px;
}

.standardTableColumnCentered
{
    text-align: center
}

a
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #AAAAF8;
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    color: #CCCCFF;
}

.error
{
    color: #FF0000;
}

.sortLink {
    color: #333366;
    text-decoration: none;
}


.pageLayout
{
    width:100%;
    height:100%;
}

.pageHeader
{
    background-color: #6392C6;
    text-align: center;
    vertical-align: middle;
    height:1px;
    overflow:visible;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

.pageHeaderColumn
{
    background-color: #FFFFFF;
    text-align: left;
}

.pageNavigation
{
    text-align: left;
    vertical-align: top;
    width: 5%;
    padding: 10px;
}

.pageBody
{
    text-align: left;
    vertical-align: top;
    padding: 50px;
    background-color: #FFFFFF;
}

.pageFooter
{
    text-align: center;
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    text-decoration: none;
    height:10px;
    overflow:visible;
    background-color: #6392C6;
    color: #FFFFFF;
}

.pageFooter a
{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.navigation
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.actionHeader
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid black;
}

/* create a button look for links */
a:link.buttonLink, a:visited.buttonLink
{
    background-color: #0099ff;
    border-top: #99ccff solid 1px;
    border-right: #003399 solid 1px;
    border-bottom: #003399 solid 1px;
    border-left: #99ccff solid 1px;
    color: white;
    font-family: arial,helvetica,sans-serif;
    font-size: 9px;
    font-weight: bold;
    padding: 1px 5px 1px 6px;
    text-decoration: none;
    text-align: center;
}
a:hover.buttonLink
{
    background-color: #9999ff;
    color: white;
}
/* depress effect on click */
a:active.buttonLink , a:focus.buttonLink
{
    border-top: #003399 solid 1px;
    border-right: #99ccff solid 1px;
    border-bottom: #99ccff solid 1px;
    border-left: #003399 solid 2px;
}

.navitem
{
    white-space : nowrap;
    text-decoration : none;
}

a.navitem:hover,active
{
    white-space : nowrap;
    text-decoration: none;
    color: #6392C6;
}

.navitem_open
{
    white-space : nowrap;
    text-decoration: none;
    font-weight : bold;
}

a.navitem_open:hover,active
{
    white-space : nowrap;
    text-decoration: none;
    font-weight : bold;
    color: #6392C6;
}

.navitem_active
{
    white-space : nowrap;
    text-decoration: none;
    font-weight : bold;
    background-color: #6392C6;
    width: 100%;
    color: #FFFFFF;
}

a.navitem_active:hover,active
{
    white-space : nowrap;
    text-decoration: none;
    font-weight : bold;
    background-color: #6392C6;
    width: 100%;
    color: #FFFFFF;
}

.navseparator
{
    line-height: 12px;
    border-bottom: 1px solid #A2B7C5;
}

.fileUploadInput
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 250px;
}

.emptyHeader
{
    background-color: #FFFFFF;
    border-top: 0px none;
    border-right: 0px none;
    border-bottom: 0px none;
    border-left: 0px none;
}

div.titlebar {
  background: #C7D0D9;
  color: black;
  border: 1px solid #8CACBB;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 1px 1px;
  clear: both;
}

/*
   ------------------------------------------------------------
   Calendar component
   ------------------------------------------------------------
*/

.yearMonthHeader {
    background-color: #DDDDDD;
    color: #000000;
    text-align: center;
    border: none;
    font-weight: bold;
}

.weekHeader {
    background-color: #E7E7E7;
    color: #000000;
    text-align: center;
    border: none;
}

.currentDayCell {
    background-color: #DDDDDD;
    color: #000000;
    border: none;
}


/*
   ------------------------------------------------------------
   End Calendar component
   ------------------------------------------------------------
*/

/*
   ------------------------------------------------------------
   Popup component
   ------------------------------------------------------------
*/

.popup {
    background-color:rgb(255,255,255);
    color: #000000;
    border: 1px solid #CCCCCC;
    font-size:smaller;
    padding: 5px;
}

.popup table
{
    font-size:smaller;
}


/*
   ------------------------------------------------------------
   End popup component
   ------------------------------------------------------------
*/


.formTable
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6392C6;
    border-color: #6392C6;
    padding: 2px;
    border-style: dashed;
    background-color: #E7EFF7;
    border-width: 1px;
}

.formHeader
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6392C6;
    border-color: #6392C6;
    padding: 2;
    border-style: none;
    background-color: #E7EFF7;
    text-align: center;
    font-weight : normal;
}

.formFooter
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6392C6;
    border-color: #6392C6;
    padding: 2;
    border-style: none;
    background-color: #E7EFF7;
    text-align: center;
    font-weight : normal;
}

.formLabels {
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2;
    border-style: none;
    text-align: right;
    font-weight : bold;
}

.formInputs {
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2;
    border-style: none;
}

/*
   ------------------------------------------------------------
   Tree component
   ------------------------------------------------------------
*/

.nodeFolder
{
    font-size: 10px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none
}
.document
{
    color: blue;
    font-size: 10px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none
}
.documentSelected
{
    color: blue;
    font-size: 10px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    font-weight: bold
}
.childCount
{
    color: blue;
    font-size: 10px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none
}

/*
body, th, td, input, select {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

table, th, td
{
    font-size: small;
    border: none;
}

.treeHeader {
    background-color: #bbb;
    border: 0.75px solid #fff;
    padding: 2px 3px;
    text-align: left;
}

.treeFooter {
    padding: 5px;
    margin: .67em 2px;
    margin-top: 0;
    background-color: #ddd;
    background-image: url(../images/sw_med_rond.gif);
    background-repeat: no-repeat;
    background-position: bottom left;
}

input, .treeFooter {
    font-size: xx-small;
    font-size: x-small;
}

.a td {
    background: #ddd;
    border-bottom: 1px solid #fff;
}

.b td {
    background: #efefef;
    border-bottom: 1px solid #fff;
}

.col1 {
    border-right: 1px solid #fff;
    padding: 2px 15px 2px 5px;
}

.col2 {
    border-left: 1px solid #fff;
    padding: 2px 15px 2px 5px;
}

.tree {
   lineheight: 18px;
   font-family: arial, sans-serif;
}

.treenode {
   padding: 2px 15px 2px 5px;
}

.treenode a {
   text-decoration: none;
}

.treenodeSelected {
   padding: 2px 15px 2px 5px;
}

.treenodeSelected a {
   text-decoration: none;
   font-weight: bold;
}

table .selectOneRadio
{
    font-weight: bold;
}


.standardList
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

*/
