## Contains the imports used by the methods in ExceptionUtils.vm
import org.apache.commons.beanutils.PropertyUtils;
#if ($XMLBindingAnnotations)
import javax.xml.bind.annotation.XmlAccessType;
import javax.xml.bind.annotation.XmlAccessorType;
import javax.xml.bind.annotation.XmlRootElement;
import javax.xml.bind.annotation.XmlTransient;
import javax.xml.bind.annotation.XmlType;
import javax.xml.ws.WebFault;
#end
