#banner, #leftColumn, #breadcrumbs, #pdf, #serverLink { display: none; }

#bodyColumn
{
    position: absolute;
    top: 0px;
    left: 0 px;
    right: 0;
    background-color: #fff;
    padding: 50px;
    margin: 0;
}
