<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.andromda.android.ui.internal.perspective.AndroidPerspective"
             icon="icons/uml_icon_project.gif"
             id="org.andromda.android.ui.internal.perspective.AndroidPerspective"
             name="AndroMDA"/>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension targetID="org.andromda.android.ui.internal.perspective.AndroidPerspective">
          <newWizardShortcut id="org.andromda.android.ui.project.wizard.NewAndroidProjectWizard"/>
       </perspectiveExtension>
       <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
          <newWizardShortcut id="org.andromda.android.ui.project.wizard.NewAndroidProjectWizard"/>
       </perspectiveExtension>
    </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.andromda.android"
            name="AndroMDA"/>
      <wizard
            canFinishEarly="false"
            category="org.andromda.android"
            class="org.andromda.android.ui.project.wizard.NewAndroidProjectWizard"
            finalPerspective="org.andromda.android.ui.internal.perspective.AndroidPerspective"
            hasPages="true"
            icon="icons/modelfile.gif"
            id="org.andromda.android.ui.project.wizard.NewAndroidProjectWizard"
            name="AndroMDA Project"
            preferredPerspectives="org.andromda.android.ui.internal.perspective.AndroidPerspective"
            project="true"/>
      <primaryWizard id="org.andromda.android.ui.project.wizard.NewAndroidProjectWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.andromda.android"
            class="org.andromda.android.ui.project.wizard.ConvertToAndroidProjectWizard"
            icon="icons/modelfile.gif"
            id="org.andromda.android.ui.project.wizard.ConvertToAndroidProjectWizard"
            name="Convert Java Project to Android Project"/>
      <category
            id="org.andromda.android"
            name="AndroMDA"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.andromda.android.ui.internal.settings.preferences.AndroMDAPreferencePage"
            id="org.andromda.android.ui.internal.settings.preferences.AndroMDAPreferencePage"
            name="AndroMDA">
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
      <page
            category="org.andromda.android.ui.internal.settings.preferences.AndroMDAPreferencePage"
            class="org.andromda.android.ui.internal.settings.preferences.AndroidProjectLayoutPreferencePage"
            id="org.andromda.android.ui.internal.settings.preferences.AndroidProjectLayoutPreferencePage"
            name="Project Layout">
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
      <page
            category="org.andromda.android.ui.internal.settings.preferences.AndroMDAPreferencePage"
            class="org.andromda.android.ui.internal.settings.preferences.AndroMDALocationsPreferencePage"
            id="org.andromda.android.ui.internal.settings.preferences.AndroMDALocationsPreferencePage"
            name="Locations">
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.andromda.android.ui.internal.settings.properties.AndroMDAPropertyPage"
            id="org.andromda.android.ui.internal.settings.properties.AndroMDAPropertyPage"
            name="AndroMDA"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.andromda.android.core.androidnature"/>
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
      <page
            adaptable="true"
            category="org.andromda.android.ui.internal.settings.properties.AndroMDAPropertyPage"
            class="org.andromda.android.ui.internal.settings.properties.AndroidProjectLayoutPropertyPage"
            id="org.andromda.android.ui.internal.settings.properties.AndroidProjectLayoutPropertyPage"
            name="Project Layout"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.andromda.android.core.androidnature"/>
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
      <page
            adaptable="true"
            category="org.andromda.android.ui.internal.settings.properties.AndroMDAPropertyPage"
            class="org.andromda.android.ui.internal.settings.properties.AndroMDALocationsPropertyPage"
            id="org.andromda.android.ui.internal.settings.properties.AndroMDALocationsPropertyPage"
            name="Locations"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.andromda.android.core.androidnature"/>
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.andromda.android.ui.keywords.andromda"
            label="AndroMDA"/>
      <keyword
            id="org.andromda.android.ui.keywords.mda"
            label="MDA"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/andromda_co.gif"
            id="org.andromda.android.ui.androidprojectNatureImage"
            natureId="org.andromda.android.core.androidnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.andromda.android.ui.configuration.editor.ConfigurationEditor"
            default="true"
            icon="icons/andromda_configuration_editor.gif"
            id="org.andromda.android.ui.editors.configuration.ConfigurationEditor"
            name="AndroMDA Configuration Editor">
         <contentTypeBinding contentTypeId="org.andromda.android.core.andromdaconfiguration"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.andromda.android.ui.views"
            name="AndroMDA"/>
      <view
            allowMultiple="false"
            category="org.andromda.android.ui.views"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/uml_icon_project.gif"
            id="org.andromda.android.ui.MDAExplorer"
            name="MDA Explorer"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.andromda.android.ui.androMDAContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.andromda.android.ui.androMDAContent"/>
         </includes>
      </viewerActionBinding>
   </extension>

    <extension
            point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
              activeByDefault="true"
              contentProvider="org.andromda.android.ui.internal.navigator.AndroMDANavigatorContentProvider"
              icon="icons/uml_icon_project.gif"
              id="org.andromda.android.ui.androMDAContent"
              labelProvider="org.andromda.android.ui.internal.navigator.AndroMDANavigatorLabelProvider"
              name="AndroMDA Content"
              priority="highest">
            <triggerPoints>
                <and>
                    <adapt
                            type="org.eclipse.core.resources.IProject" >
                        <test
                            property="org.eclipse.core.resources.projectNature"
                            value="org.andromda.android.core.androidnature" />
                    </adapt>
                    <instanceof value="org.eclipse.jdt.core.IJavaProject"/>
                </and>
            </triggerPoints>
        </navigatorContent>
        <actionProvider
              class="org.andromda.android.ui.internal.navigator.AndroMDANavigatorActionProvider"
              id="org.andromda.android.ui.androMDAContent">
           <enablement>
              <adapt type="org.eclipse.core.resources.IFile"/>
           </enablement>
        </actionProvider>
    </extension>
</plugin>
