<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.andromda.android"
            name="AndroMDA"/>
      <wizard
            category="org.andromda.android"
            class="org.andromda.android.ui.project.wizard.NewAndroidProjectWizard"
            icon="icons/ModelFile.gif"
            id="org.andromda.android.ui.project.wizard.NewAndroidProjectWizard"
            name="AndroMDA Project"
            project="true"/>
      <primaryWizard id="org.andromda.android.ui.project.wizard.NewAndroidProjectWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.andromda.android.ui.project.wizard.ConvertToAndroidProjectWizard"
            icon="icons/ModelFile.gif"
            id="org.andromda.android.ui.project.wizard.ConvertToAndroidProjectWizard"
            name="Convert Java Project to Android Project"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.andromda.android.ui.internal.settings.preferences.AndroMDAPreferencePage"
            id="org.andromda.android.ui.internal.settings.preferences.AndroMDAPreferencePage"
            name="AndroMDA">
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
      <page
            category="org.andromda.android.ui.internal.settings.preferences.AndroMDAPreferencePage"
            class="org.andromda.android.ui.internal.settings.preferences.AndroidProjectLayoutPreferencePage"
            id="org.andromda.android.ui.internal.settings.preferences.AndroidProjectLayoutPreferencePage"
            name="Project Layout">
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
      <page
            category="org.andromda.android.ui.internal.settings.preferences.AndroMDAPreferencePage"
            class="org.andromda.android.ui.internal.settings.preferences.AndroMDALocationsPreferencePage"
            id="org.andromda.android.ui.internal.settings.preferences.AndroMDALocationsPreferencePage"
            name="Locations">
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="false"
            class="org.andromda.android.ui.internal.settings.properties.AndroMDAPropertyPage"
            id="org.andromda.android.ui.internal.settings.properties.AndroMDAPropertyPage"
            name="AndroMDA"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.andromda.android.core.androidnature"/>
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
      <page
            adaptable="false"
            category="org.andromda.android.ui.internal.settings.properties.AndroMDAPropertyPage"
            class="org.andromda.android.ui.internal.settings.properties.AndroidProjectLayoutPropertyPage"
            id="org.andromda.android.ui.internal.settings.properties.AndroidProjectLayoutPropertyPage"
            name="Project Layout"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.andromda.android.core.androidnature"/>
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
      <page
            adaptable="false"
            category="org.andromda.android.ui.internal.settings.properties.AndroMDAPropertyPage"
            class="org.andromda.android.ui.internal.settings.properties.AndroMDALocationsPropertyPage"
            id="org.andromda.android.ui.internal.settings.properties.AndroMDALocationsPropertyPage"
            name="Locations"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.andromda.android.core.androidnature"/>
         <keywordReference id="org.andromda.android.ui.keywords.andromda"/>
         <keywordReference id="org.andromda.android.ui.keywords.mda"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.andromda.android.ui.keywords.andromda"
            label="AndroMDA"/>
      <keyword
            id="org.andromda.android.ui.keywords.mda"
            label="MDA"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/andromda_co.GIF"
            id="org.andromda.android.ui.androidprojectNatureImage"
            natureId="org.andromda.android.core.androidnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.andromda.android.ui.configuration.editor.ConfigurationEditor"
            default="true"
            icon="icons/ModelFile.gif"
            id="org.andromda.android.ui.editors.configuration.ConfigurationEditor"
            name="AndroMDA Configuration Editor">
         <contentTypeBinding contentTypeId="org.andromda.android.core.andromdaconfiguration"/>
      </editor>
   </extension>

</plugin>
