andromda-core.home = ../../andromda/dist/predist/
andromda-java.home = ../../cartridges/andromda-java/dist/predist/
andromda-ejb.home = ../../cartridges/andromda-ejb/dist/predist/
andromda-hibernate.home = ../../cartridges/andromda-hibernate/dist/predist/
andromda-struts.home = ../../cartridges/andromda-struts/dist/predist/

jboss.home = c:/cygwin/tools/jboss-3.0.4

j2ee.classpath = ${jboss.home}/server/default/lib/jboss-j2ee.jar:\
${jboss.home}/server/default/lib/javax.servlet.jar

