##
## A macro that renders the appropriate action form input field
##
## parameters:
##     o  $parameter - the actual parameter to render
##     o  $ownerParameter - the parameter that is the owner of this parameter (in the case of complex objects)
##     o  $renderLabel - whether or not a labeled should be rendered (i.e. we don't render labels with input tables)
##
#macro(renderActionInput $parameter $ownerParameter)
#if ($parameter.backingListName)
#set ($propertyId = $parameter.name)
#set ($valuePropertyName = $parameter.name)
#set ($backingListName = $parameter.backingListName)
#set ($backingValueName = $parameter.backingValueName)
#else
#set ($propertyId = $parameter.getFormPropertyId($ownerParameter))
#set ($valuePropertyName = ${parameter.getFormPropertyName($ownerParameter)})
#set ($backingListName = ${parameter.getBackingListName($ownerParameter)})
#set ($backingValueName = ${parameter.getBackingValueName($ownerParameter)})
#end
#set ($formValuePropertyName = "${formName}.${valuePropertyName}")
#if (!$parameter.table && !($parameter.inputHidden || $ownerParameter.inputHidden))
#if ($parameter.type.dateType)
#if ($parameter.readOnly) 
        <af:inputText id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" readOnly="true"/>
#else
        <af:panelLabelAndMessage label="#{messages['$parameter.messageKey']}:" for="$propertyId" showRequired="$parameter.required">
            <t:inputCalendar id="$propertyId" value="#{${formValuePropertyName}}" renderAsPopup="true" popupDateFormat="$parameter.format" required="$parameter.required">
                <a:convertDateTime pattern="$parameter.format"/>
            </t:inputCalendar>
        </af:panelLabelAndMessage>
#end
#elseif ($parameter.inputCheckbox)
        <af:selectBooleanCheckbox id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" readOnly="$parameter.readOnly"/>
#elseif ($parameter.inputSelect)
#set ($multiSelect = $parameter.type.collectionType || $parameter.type.arrayType)
#set ($selectBoxType = "selectOneChoice")
#if ($multiSelect)
#set ($selectBoxType = "selectManyListbox")
#end
        <af:$selectBoxType id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" readOnly="$parameter.readOnly"#if ($multiSelect) size="$defaultMultiSelectSize"#else unselectedLabel=""#end>
            <c:if test="${!empty ${backingListName}}">
                <f:selectItems value="#{${backingListName}}" />
            </c:if>
        </af:$selectBoxType>
#elseif ($parameter.inputFile)
        <af:inputFile id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" columns="50"/>
#elseif ($parameter.inputMultibox)
        <af:selectManyCheckbox id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required">
            <c:if test="${!empty ${backingListName}}">
                <f:selectItems value="#{${backingListName}}" />
            </c:if>
        </af:selectManyCheckbox>
#elseif ($parameter.inputRadio)
        <af:selectOneRadio id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required">
            <c:if test="${!empty ${backingListName}}">
                <f:selectItems value="#{${backingListName}}" />
            </c:if>
        </af:selectOneRadio>
#elseif ($parameter.inputTable)
#renderInputTable($parameter)
#elseif ($parameter.plainText)
        <h:outputText value="#{${formValuePropertyName}}"/>
#elseif ($parameter.inputSecret)
        <af:panelLabelAndMessage label="#{messages['$parameter.messageKey']}:" for="$propertyId" showRequired="$parameter.required">
            <h:inputSecret id="$propertyId" value="#{${formValuePropertyName}}" required="$parameter.required" readonly="$parameter.readOnly"/>
        </af:panelLabelAndMessage>  
#else
        <af:inputText id="$propertyId" value="#{${formValuePropertyName}}" label="#{messages['$parameter.messageKey']}:" required="$parameter.required" readOnly="$parameter.readOnly"#if($parameter.inputTextarea) rows="3" columns="40"#end>
#if ($parameter.type.timeType)
            <a:convertDateTime pattern="$parameter.format"/>
#end
        </af:inputText>
#end
#end
#end
##
##  This macro renders an submittable input table
##
#macro (renderInputTable $parameter)
            <a:dataTable id="$parameter.name"
                columnClasses="list-column-center,list-column-right, list-column-center,list-column-right"
                headerClass="list-header"
                rowClasses="list-row"
                styleClass="list-background"
                backingValue="#{${backingValueName}}"
                value="#{${formName}.${parameter.name}}"
                identifierColumns="$parameter.inputTableIdentifierColumns"
                var="item">
#foreach ($column in $parameter.tableColumns)
#set ($columnId = $column.getFormPropertyId($parameter))
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="#{messages['$column.messageKey']}"/>
                    </f:facet>
#if ($column.type.dateType)
#if ($column.readOnly)
                    <h:inputText id="$columnId" value="#{item.${column.name}}" readonly="true">
#else
                    <t:inputCalendar id="$columnId" monthYearRowClass="yearMonthHeader" weekRowClass="weekHeader" value="#{item.${column.name}}"
                                     renderAsPopup="true" popupDateFormat="$column.format" required="$column.required">
                        <a:convertDateTime pattern="$column.format"/>
                    </t:inputCalendar>
#end
#elseif ($column.inputCheckbox)
                    <h:selectBooleanCheckbox id="$columnId" value="#{item.${column.name}}" required="$column.required" readonly="$column.readOnly"/>
#elseif ($column.inputRadio)
                    <h:selectOneRadio id="$columnId" value="#{item.${column.name}}" layout="pageDirection" styleClass="selectOneRadio"/>
#elseif ($column.inputText)
                    <h:inputText id="$columnId" value="#{item.${column.name}}" required="$column.required" readonly="$column.readOnly">
#if ($column.type.timeType)
                        <a:convertDateTime pattern="$column.format"/>
#end
                    </h:inputText>                    
#else
                    <h:outputText value="#{item.${column.name}}"/>
#end
#if ($column.inputTypePresent)
                    <t:message for="$columnId" styleClass="error" showDetail="true" showSummary="false"/>
#end
                </h:column>
#end
            </a:dataTable>
#end