#reset.action
{
    display: none;
}

#changeTable.action
{
    position: absolute;
    right: 25px;
    top: 25px;
}

#reload.action
{
    display: none;
}

#commitChanges.action
{
}

#insert.action
{
    margin-top: 30px;
}

a.foreignTableLink
{
    font-style: italic;
}

stress
{
    font-weight: 150%;
}
