##
##  This macro will render the approriate java validation code
##
##      o   $modelElement: the element from which for are going to translate constraints
##      o   $constraintKind: "pre", "post", "inv", ...
##
#macro (renderTranslation $modelElement $constraintKind)
#foreach ($constraint in $modelElement.getConstraints($constraintKind))
#set ($constraintTranslation = $constraint.getTranslation("validation.Java"))
#set ($constraintDocumentation = $constraint.getDocumentation("",-1,false))
        {
## - we need to replace the references of "this" with "this.THIS()" in order to validate the correct metafacade instance 
##  (since we're using delegate inheritance)
            $stringUtils.replace($constraintTranslation, 'final java.lang.Object contextElement = this;', 'final java.lang.Object contextElement = this.THIS();') 
            if (!constraintValid)
                validationMessages.add(
                    new org.andromda.core.metafacade.ModelValidationMessage(
                        this.THIS(),
                        "$constraint.name",
                        "$escapeUtils.escapeJava($constraintDocumentation)"));
        }
#set ($constraintDocumentation = false)## reset to make sure we do not reuse the documentation of previous constraints
#end
#set ($constraint = false)## reset to make sure we do not reuse the last constraint
#end