##
##  This macro determines what to do when processing a transition
##
#macro (processTransition $transition)
#if (!$transition)
null;
#elseif ($transition.enteringFinalState)
#set($targetController = $transition.target.targetControllerFullyQualifiedName)
#set($targetControllerBeanName = $transition.target.targetControllerBeanName)
#if($targetController)
#set($tmp = $controllers.add($transition.target.targetElement.controller))
#if($targetControllerBeanName.equals($controller.beanName))
"${controller.restPath}";
#else
#if(${transition.target.targetElement})
"${transition.target.targetElement.controller.restPath}";
#else
"";
#end
#end
#else 
closeDialog();
#end
#elseif ($transition.enteringView)
"${transition.target.path}.${htmlFileExtension}"; 
#elseif ($transition.enteringDecisionPoint)
__${transition.operationCall.name}(#if (!$action.formFields.empty)form, #{end}model);
#else
${transition.target.actionMethodName}(#if (!$action.formFields.empty)form, #{end}model);
#end
#end
##
##   This macro generates code to save any success messages and warning messages
##
#macro (saveMessages $transition $indent)
#set ($messagesFullyQualifiedName = "Messages")
#if ($stringUtils.isNotBlank($managedBeansPackage))
#set($messagesFullyQualifiedName = "${managedBeansPackage}.${messagesFullyQualifiedName}")
#end
#if ($transition.successMessagesPresent)
#foreach ($message in $transition.successMessages.entrySet())
${indent}${managedBeansPackage}.ThymeleafUtils.addInfoMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#if ($transition.warningMessagesPresent)
#foreach ($message in $transition.warningMessages.entrySet())
${indent}${managedBeansPackage}.ThymeleafUtils.addWarningMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#end
##
##   This macro generates code to save any success messages and warning messages in decision transitions
##
#macro (saveDecisionMessages $transition $indent)
#set ($messagesFullyQualifiedName = "Messages")
#if ($stringUtils.isNotBlank($managedBeansPackage))
#set($messagesFullyQualifiedName = "${managedBeansPackage}.${messagesFullyQualifiedName}")
#end
#if ($transition.successMessagesPresent)
#foreach ($message in $transition.successMessages.entrySet())
${indent}${managedBeansPackage}.ThymeleafUtils.addInfoMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#if ($transition.warningMessagesPresent)
#foreach ($message in $transition.warningMessages.entrySet())
${indent}${managedBeansPackage}.ThymeleafUtils.addWarningMessage(${messagesFullyQualifiedName}.get("$message.key", (Object[])null));
#end
#end
#end