##
## A macro that renders the appropriate action commandLink parameter
##
#macro(renderActionCommandLinkParameter $parameter $ownerParameter)
#if ($parameter.backingListName)
#set ($propertyId = $parameter.name)
#set ($valuePropertyName = $parameter.name)
#else
#set ($propertyId = $parameter.getFormPropertyId($ownerParameter))
#set ($valuePropertyName = ${parameter.getFormPropertyName($ownerParameter)})
#end
#if ($parameter.type.dateType || $parameter.type.timeType)
#set ($parameterValue = "${propertyId}Formatted")
    <fmt:formatDate var="$parameterValue" value="${${formName}.${valuePropertyName}}" pattern="$parameter.format" scope="request"/>
#else
#set ($parameterValue = "${formName}.${valuePropertyName}")
#end
    <f:param name="$valuePropertyName" value="#{${parameterValue}}"/>
#end